Qn.1 Write a program to produce the following output using for loop
+----+
\ /
/ \
\ /
/ \
\ /
/ \
+----+

In [14]:
#Ans
for i in range(6):
    if i % 4 == 0:
        print("+----+")
    else:
        print("\\    /")
        print("/    \\")

+----+
\    /
/    \
\    /
/    \
\    /
/    \
+----+
\    /
/    \

Qn.2
Write a program to produce the following output using for loop
**********
**********
**********
**********
**********

In [3]:
#ans
for i in range(5):
    for j in range(10):
        print("*",end="")
    print()

**********
**********
**********
**********
**********

Qn.3 Complete the code for the following for loop:
for in range(1,7):
 //your code here
so that it prints the following numbers, one per line:
) 1 b) 2 c) 4 d) 30 e) -7 f) 97 g) -4
2 4 19 20 -3 94 14
3 6 34 10 1 91 32
4 8 49 0 5 88 50
5 10 64 -10 9 85 68
6 12 79 -20 13 82 86

In [10]:
#Ans,(a)
for i in range(1,7):
    print(i)
    i= i+2

1
2
3
4
5
6

In [46]:
#(b)

for i in range(2,14,2):
    print(i)

2
4
6
8
10
12

In [45]:
#(c)
for i in range(4,94,15):
    print(i)

4
19
34
49
64
79

In [44]:
#(d)
for i in range(30,-30,-10):
    print(i)

30
20
10
0
-10
-20

In [43]:
#(e)
for i in range(-7,17,4):
    print(i)

-7
-3
1
5
9
13

In [48]:
#(f)
for i in range(97,79,-3):
    print(i)

97
94
91
88
85
82

In [50]:
#(g)
for i in range(-4,104,18):
    print(i)

-4
14
32
50
68
86

Qn.4 Write a program to produce the following output using for loops. Then 
use a class constant to make it possible to change the number of lines in 
the figure.
1
22
333
4444
55555
666666
7777777

In [53]:
#Ans
n = 7
for i in range(n):
    for j in range(i+1):
        print(i+1,end="")
    print()

1
22
333
4444
55555
666666
7777777

Qn.5  
Write a method named pay that accepts two parameters: a real number 
for a TA's salary, and an integer for the number of hours the TA worked 
this week. The method should return how much money to pay the TA. 
For example, the call 
pay(5.50, 6)
should return 
33.0. 
The TA should receive "overtime" pay of 1 ½ normal salary for any hours 
above 8. For example, the call pay(4.00, 11) should return (4.00 * 
8) + (6.00 * 3) or 50.0.

In [68]:
#Ans
pay = (4.00,11)
totalpay = (4.00*8)+(6.00*3)
print(totalpay)

50.0

Qn.6
Consider the following method for converting milliseconds into days:
// converts milliseconds to days
def toDays(millis):
 return millis / 1000.0 / 60.0 / 60.0 / 24.0
Write a similar method named area that takes as a parameter the radius of 
a circle and that returns the area of the circle. For example, the call 
area(2.0);
should return 
12.566370614359172. 
Recall that area can be computed as π times the radius squared and that 
Python has a constant called math.pi

In [15]:
#Ans

import math

def area(radius):
    return math.pi * radius**2.0

# Example usage:
radius = 2.0
result = area(radius)
print(result)

12.566370614359172

Qn.7
 Copy and paste the following code into pythons IDLE script 
environment.
 low = 1
 high = 1001
 sum = 0
 for i in range(low,high):
 sum += i
 
 print("sum = " , sum)
 
Modify the code to use a input to prompt the user for the values of low
and high. Below is a sample execution in which the user asks for the same 
values as in the original program (1 through 1000):
low? 1
high? 1001
sum = 500500
Below is an execution with different values for low and high:
low? 300
high? 5298
sum = 13986903
You should exactly reproduce this format

In [16]:
#Ans
low = int(input("low? "))
high = int(input("high? "))
sum = 0

for i in range(low, high):
    sum += i

print("sum =", sum)

low? 300
high? 5298
sum = 13986903

Qn.8 

Write a program using while loop that prompts the user for numbers until 
the user types 0, then outputs their sum

In [19]:
#Ans

sum = 0
while True:
    number = int(input("Enter a number (type 0 to stop): "))
    if number == 0:
        break
    sum += number
print("Sum of the numbers entered:", sum)

Enter a number (type 0 to stop): 4
Enter a number (type 0 to stop): 5
Enter a number (type 0 to stop): 9
Enter a number (type 0 to stop): 8
Enter a number (type 0 to stop): 6
Enter a number (type 0 to stop): 0
Sum of the numbers entered: 32

Qn.9 

Write a program using while loop that prompts the user for numbers until 
the user types -1, then outputs their sum.

In [23]:
#Ans
sum = 0
while True:
    number = int(input("Enter a number (type -1 to stop): "))
    if number == -1:
        break
    sum += number
print("Sum of the numbers entered:", sum)

Enter a number (type -1 to stop): 5
Enter a number (type -1 to stop): 0
Enter a number (type -1 to stop): 6
Enter a number (type -1 to stop): 7
Enter a number (type -1 to stop): 2
Enter a number (type -1 to stop): -1
Sum of the numbers entered: 20

Qn.10

Write a method named repl that accepts a String and a number of 
repetitions as parameters and returns the String concatenated that many 
times. For example, the call repl("hello", 3) returns "hellohellohello". 
If the number of repetitions is 0 or less, an empty string is returned.

In [24]:
#ans
rep1 = ("hello",4)
for rep1 in range(4):
    print("hello",end="")

hellohellohellohello

Qn.11

Write a method called printRange that accepts two integers as arguments and 
prints the sequence of numbers between the two arguments, separated by 
spaces. Print an increasing sequence if the first argument is smaller than 
the second; otherwise, print a decreasing sequence. If the two numbers 
are the same, that number should be printed by itself. Here are some 
sample calls to printRange: 
printRange(2, 7)
printRange(19, 11)
printRange(5, 5)
The output produced should be the following: 
2 3 4 5 6 7 
19 18 17 16 15 14 13 12 11
5

In [30]:
#Ans.
for i in range(2, 8):
    print(i, end=" ")

2 3 4 5 6 7

In [31]:
for j in range(19,10,-1):
    print(j,end=" ")

19 18 17 16 15 14 13 12 11

In [32]:
for x in range(5,5,1):
    print(x,end=" ")

Qn.12

.Write a method named smallestLargest that asks the user to enter numbers, 
then prints the smallest and largest of all the numbers typed in by the 
user. You may assume the user enters a valid number greater than 0 for 
the number of numbers to read. Here is an example dialogue: 
How many numbers do you want to enter? 4
Number 1: 5
Number 2: 11
Number 3: -2
Number 4: 3
Smallest = -2
Largest = 11

In [43]:
#Ans
smallestlargest = int(input("How many numbers do you want to enter?"))
n1 = int(input("Enter Number 1:"))
n2 = int(input("Enter Number 2:"))
n3 = int(input("Enter Number 3:"))
n4 = int(input("Enter Number 4:"))

if n1 > n2 and n1 > n3 and n1 > n4:
    largest = n1
elif n2 > n1 and n2 > n3 and n2 > n4:
    largest = n2
elif  n3 > n1 and n3 > n2 and n3 > n4:
    largest = n3
else:
    largest = n4
print("largest among  {} {} {} and {} is {} : ".format(n1,n2,n3,n4,largest))

if n1 < n2 and n1 < n3 and n1 < n4:
    Smallest = n1
elif n2 < n1 and n2 < n3 and n2 < n4:
    Smallest = n2
elif  n3 < n1 and n3 < n2 and n3 < n4:
    Smallest = n3
else:
    Smallest = n4
print("Smallest among {} {} {} and {} is {} : ".format(n1,n2,n3,n4,Smallest))

How many numbers do you want to enter?4
Enter Number 1:5
Enter Number 2:30
Enter Number 3:8
Enter Number 4:1
largest among  5 30 8 and 1 is 30 :
Smallest among 5 30 8 and 1 is 1 :

Qn.13
Write a method called printAverage that uses a sentinel loop to 
repeatedly prompt the user for numbers. Once the user types any number 
less than zero, the method should display the average of all nonnegative 
numbers typed. Display the average as a double. Here is a sample 
dialogue with the user:
Type a number: 7
Type a number: 4
Type a number: 16
Type a number: –4
Average was 9.0
If the first number that the user types is negative, do not print an average:
Type a number: –2

In [26]:
#Ans
def printAverage():
    total = 0
    count = 0

    while True:
        number = float(input("Type a number: "))
        
        if number < 0:
            break
        
        total += number
        count += 1

    if count > 0:
        average = total / count
        print("Average was", average)


printAverage()

Type a number: 7
Type a number: 4
Type a number: 16
Type a number: -4
Average was 9.0

Qn.14

Write a method named numUnique that takes three integers as parameters 
and returns the number of unique integers among the three. For example, 
the call numUnique(18, 3, 4) should return 3 because the parameters 
have three different values. By contrast, the call numUnique(6, 7, 6)
should return 2 because there are only two unique numbers among the 
three parameters: 6 and 7.

In [28]:
#Ans
def numUnique(a, b, c):
    unique_numbers = set([a, b, c])
    return len(unique_numbers)

result1 = numUnique(18, 3, 4)
result2 = numUnique(6, 7, 6)

print(result1)  
print(result2)

3
2

Qn.15

A Random object generates pseudo-random numbers. Find out how to 
use the Random class and write a program that simulates rolling of two 6-
sided dice until their combined result comes up as 7. One possible output 
can be seen as below:
 2 + 4 = 6
3 + 5 = 8
5 + 6 = 11
1 + 1 = 2
4 + 3 = 7
You won after 5 tries

In [ ]:
#Ans
import random

def roll_dice():
    return random.randint(1, 6)

def simulate_dice_roll_until_seven():
    tries = 0

    while True:
        dice1 = roll_dice()
        dice2 = roll_dice()

        total = dice1 + dice2
        tries += 1

        print(f"{dice1} + {dice2} = {total}")

        if total == 7:
            print(f"You won after {tries} tries!")
            break


simulate_dice_roll_until_seven()